input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.upSection {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 1rem;
}

.amount {
    padding: .5rem;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #29638a;
    transition: boder .3s;
}

.amount:focus {
    border: 1px solid #29668A;
}

.form {
    width: 50%;
    margin-right: 2rem;
}

table {
    border-collapse: collapse;
    width: 50%;
}

td {
    text-transform: none;
    border: 1px solid #ccc;
    font-weight: 400;
    color: #000;
    font-size: 0.9rem;
}

.titlesT {
    width: 70%;
}

.tTable {
    font-weight: 700;
}

.totalT {
    color: orange;
    font-weight: 700;
}

.radio {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.imgF {
    display: inline-block;
    width: 90%;
    max-width: 150px;
    margin-left: 2rem;
}

.btn {
    display: inline-block;
    background-color: #6eaf38;
}

.btn:hover {
    background-color: #5b922e;
}

.cBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}