.multisteps-form__progress-btn {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    touch-action: manipulation;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
    text-indent: 0;
    color: #6c757db3;
}

.multisteps-form__progress-btn.js-active {
    color: #007bff;
}

.multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
}

.multisteps-form__progress-btn.js-active:before {
    background-color: currentColor;
}

.multisteps-form__progress {
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    font-family: Roboto;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    margin-bottom: 4rem;
}

.principal {
    text-align: center;
}

.titleP {
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
}

.titleW {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #333;
}

.fWebsite {
    padding: 1rem;
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.btnN {
    padding-left: 3rem;
    padding-right: 3rem;
    display: inline-block;
    color: #fff;
    border: none;
}